.wrapper:first-of-type {
  padding-top: 100px;
}

#footer {
  border-top: 1px solid rgba(0,0,0,.05);
}

@media screen and (max-width: 540px) {
  .wrapper.home {
    padding: 15px!important;
  }
}

.post h2 {
  margin-left: -5px;
  font-weight: bold;
  color: #333;
}

ul {
  margin-bottom: 20px;
}

code {
    font-family: Menlo, Monaco, Courier;
    font-size: 14px;
    font-weight: normal;
    background-color: #F1F1F1;
    padding: 0.3em;
    box-shadow: inset 0 0 0 1px #E4EBF2;
    border-radius: 3px;
}

.post h2 {
  margin-bottom: 1em;
}
