#demo {
  height:100vh;
  background-color: rgb(240,240,240);
  user-select: none;
}

#post-list .summary {
  font: normal 17px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  max-width: 500px;
  margin-top: 2px;
  margin-left: 10px;
}

#post-list .summary p {
  margin-bottom: 10px;
}

#post-list .read-more {
  float: left;
  position: relative;
  font: 300 17px/1.8 "Helvetica Neue", helvetica, Arial, sans-serif;
  color: #888;
}

#post-list li:hover .read-more {
  text-decoration: none;
  color: #5badf0;
  color: #5694f1;
}

.scroll-down {
  opacity: 1;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 3em;
  height: 3em;
  border: 2px solid #555;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  animation: bounce 2s infinite;
  transition: all .2s ease-in;
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid #555;
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
